
body{
    background: #2F3338;
    color : white;
}

main{

    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10%;
}




.result-container {
    opacity: 0;
    transition: opacity 1s ease-in-out;
  }
  
  .result-container.visible {
    opacity: 1;
  }
  